body
  margin: 0
  padding: 0
  display: flex
  flex-flow: column wrap
  justify-content: center
  overflow: auto

#canvas
  align-self: center
  margin: 0 auto
  display: block

#year-picker
  position: absolute
  top: 5px
  left: 5px
  width: 150px
  font-size: 2em