@font-face
  font-family: "Open Sans", sans-serif
  font-weight: 400
  font-size: 14px
  src: url(https://fonts.googleapis.com/css?family=Open+Sans:400,800)

body
  margin: 0
  padding: 0
  display: flex
  flex-flow: column wrap
  justify-content: center
  align-items: center
  overflow: auto
  font-family: "Open Sans", sans-serif

.canvas-wrap
  display: flex
  flex-flow: column wrap
  align-items: center
  justify-content: center

  .msg
    display: none

  canvas
    align-self: center
    margin: 0 auto
    display: block
    position: relative
    cursor: pointer

  &.error
    .msg
      display: block
    canvas
      display: none

  &.loading:after
    content: "Loading..."
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    padding-top: 80px
    background: rgba(255, 255, 255, 0.9) url(../img/loading.gif) no-repeat 50% 50%
    display: flex
    justify-content: center
    align-items: center

#year-picker
  position: absolute
  top: 0
  left: 0
  margin: 10px
  font-size: 1.25em

.about
  position: absolute
  flex: 1
  width: 33vw
  height: 33vh
  padding: 20px
  font-size: 16px
  line-height: 24px
  border: 2px solid #777
  background-color: rgba(255,255,255,0.95)

  &.hide
    display: none

.links
  position: fixed
  bottom: 0
  left: 0
  right: 0
  font-size: 12px
  line-height: 24px
  padding: 5px 10px
  display: flex
  flex-flow: row nowrap

  a
    flex: 0 1 auto
    margin: 0 0 0 10px
    align-self: flex-start

    &.about-link
      margin: 0 0 0 auto

  img
    max-height: 16px


.game-info
  position: absolute
  bottom: 50px
  left: 0
  right: 0
  margin: 0 auto
  width: 500px
  min-width: 40vw
  max-width: 80vw
  border: 2px solid #777
  background-color: rgba(255,255,255,0.95)
  z-index: 1000
  display: flex
  flex-flow: row wrap
  font-size: 12px
  padding: 10px 20px
  justify-content: space-between
  animation: fadein 500ms

  .close
    position: absolute
    top: 2px
    right: 2px
    color: #aaaaaa
    border: 1px solid #aaaaaa
    border-radius: 2px
    font-size: 2em
    line-height: 0.6em
    cursor: pointer

    &:hover
      color: #333333

  .score
    flex: 1 0 auto
    text-align: right
    font-size: 4em
    color: #777

    &.winner
      color: #000

  .meta
    flex: 1
    font-weight: 400
    display: flex
    flex-flow: row wrap
    justify-content: space-between

    p
      margin: 4px 0
      text-align: center
      flex: 1

      &:first-child
        text-align: left
      &:last-child
          text-align: right

  .team
    flex: 1 0 100%
    display: flex
    flex-flow: row wrap
    align-items: center
    margin-bottom: 10px

    h1, h2
      margin: 0

    img
      height: 100px
      width: auto
      margin-right: 20px

@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1


@media print
  .options, .game-info
    display: none

@media (max-width: 800px)
  .about
    position: absolute
    top: 10vh
    flex: 1
    width: 90vw
    height: 75vh
    padding: 10px
    font-size: 12px
    line-height: 20px

  .game-info
    padding: 5px 10px

    .meta
      flex-flow: column wrap

      p
        &:first-child, &:last-child
          text-align: center

    .score
      font-size: 3em

    .team
      margin-bottom: 10px
      img
        height: 50px
      h1
        font-size: 1.5em
      h2
        font-size: 1em
